body  {
font-family: 'Raleway', sans-serif;
   padding: 0.5rem 5rem 0rem 5rem;
   backgroud-color: rgb(82, 80, 80);
}

.menu_droite {
    display: flex;
    flex-direction: row;
    margin-right: 10rem;
    float: right;
    
   
}


.menu_droite ul li a {
    text-decoration: none;
    color: black;
}

.menu_droite li {
    display: inline-block;
    margin-left: 50px;
    list-style: none;
    color: rgb(70, 69, 69);
    
    
}

.menu_droite li a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC ;
    padding-top: 30px;
    
    
}

.inscription {
    color: #0065FC ;
    font-weight: bold;
}


.menu_gauche{
    display: inline-block;
    float: left;
    list-style: none;


}

header .inscription {
    color: #0065FC;
}

header {
    height: 50px;
}

main h1 {
    font-size: 20px;
    
    
}

main p {
    margin-top: -10px;
    
    font-size: 15px;
    color: rgb(0, 0, 0);
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');




.search {
  width: 100%;
  display: flex;
  padding-top: 40px;
}

.map {
    background-color:  #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    width: 30px;
    height: 20px;
    padding:8px 5px 8px 5px;
   
}

.searchTerm {
  width: 100%;
  border: 3px solid #F2F2F2;
  border-right: none;
  border-left: none;
  padding: 5px;
  height: 20px;
  outline: none;
  color: #121312;
  font-size: 20px;
  
}


.searchTerm:focus{
  color: #000000;
}

.searchButton {
  width: 120px;
  height: 36px;
  border: 1px solid #0065FC;
  background: #0065FC;
  text-align: center;
  color: #F2F2F2;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 17px;
  padding: 10px 10px 10px 10px;
  
}


.wrap{
  width: 30%;
  margin-left: 15%;
  transform: translate(-50%, -50%);
  display: inline-block;

}

.filtres {
    margin-left: -30px;
}

.filtres h2 {
    font-size: 15px;
    
}

.filtres ul li {
    display: inline-block;
    padding-right: 10px;
    
}

.filtres ul li i{
    background-color:  #DEEBFF;
    color: #0065FC;
    border-radius: 30px;
    padding: 15px;
    margin-left: -40px;
    width: 20px;
    
    
}

.co_1 {
    font-weight: bold;
}


.co_2 {
    display: inline-block;
    color: black;
    border: 2px solid #F2F2F2;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    border-radius: 30px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    
    
}

.co_2:hover {
    background-color: #F2F2F2;
}

.co_3 {
    border: 2px solid #F2F2F2;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 30px;
    text-align: center;
}

.co_3:hover {
    background-color: #F2F2F2;
}

.co_4 {
    border: 2px solid #F2F2F2;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 30px;
    text-align: center;
}

.co_4:hover {
    background-color: #F2F2F2;
}

.co_5 {
    border: 2px solid #F2F2F2;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 30px;
    text-align: center;
}
    
.co_5:hover {
    background-color: #F2F2F2;
}


.info {
    margin-left: -40px;
}

.info ul li {
    display: inline-block;
    
    
}

.info ul li i {
    padding: 10px;
    width: 15px;
    text-align: center;
    border: 1px solid #F2F2F2;
    border-radius: 30px;
}


.info ul li p{
    margin-left: 10px;
}

.info i {
    border: 2px 2px  2px solid #000000;
    color: #0065FC;
}




.hébergements_populaires {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    
}

#titre_hébergement {
    grid-column: 1/ span 3;
    grid-row: 1;
}

.wrap_hébergement{
display: grid;
grid-template-columns: auto auto auto ;
grid-gap: 30px;
width: fit-content;
background-color: #F2F2F2;
padding: 40px;
border-radius: 20px;



}

.hébergement img {
    border-radius: 20px 20px 0px 0px;
    z-index:1;
    height: 100px;
    }

.wrap_hébergement p {
    font-size: 13px;
    color: rgb(0, 0, 0);
    margin-top: -8px;
}

section h2 {
    font-size: 15px;
    margin-top: 0px;
}

.text_heb {
    margin-left: 10px;
}

.img_hébergement {
    object-fit: cover;
    width: 200px;
    height: 100px;
}

.hébergement  {
background-color: rgb(255, 255, 255);
border-radius: 20px;
height: 170px;
width: fit-content;
padding: 5px 5px 5px 5px;
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);

}

.hébergement ul li{
   display: inline-block;
   font-size: 13px;
   letter-spacing: -2px;
    
}

.stars {
    margin-left: -30px;
    margin-top: -10px;
    
}

.wrap_populaires {
display: grid;
grid-template-columns: auto ;
grid-gap: 50px;
background-color: #F2F2F2;
width: fit-content;
padding: 20px 50px 40px 50px;
border-radius: 20px;
}

.text_populaires {
    width: 150px;
    margin-left: 20px;
    height: 100px;
}

.text_populaires p {
    margin-top: -10px;
}

.stars_populaires {
    margin-left: -40px;
}

.heb_aside {
display: flex;
flex-direction: row;
width: 300px;
background-color: white;
border-radius: 20px;
padding: 5px 5px 5px 5px;
height: fit-content;
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);
margin-top: -15px;


}

.heb_aside ul li  {
    list-style: none;
    display: inline-block;
}

.heb_aside ul li h2 {
    width: 150px;
}


.heb_aside ul li i {
    display: inline-block;
    font-size: 12px;
    letter-spacing: -3px;
}

.blue_star {
    color: #0065FC;
}

.grey_star {
    color: #d1d1d1;
}

aside h2 {
font-size: 15px;
}

.heb_aside p {
font-size: 12px;


}

.titre_aside {
    margin-bottom: -30px;
}

.titre_aside ul li{
    list-style: none;
    display: inline-block;
    margin-left: -40px;
   
}

.titre_aside ul li i{
    margin-left: 100px;
    font-size: 20px;
   
}

.aside_img {
border-radius: 20px 0px 0px 20px;
z-index:1;
object-fit: cover;
height: 120px;
width: 120px;

}



.wrap_activités {

    display: grid;
    grid-template-columns: auto auto  ;
    grid-template-rows: 100px 250px 150px;
    margin-top: 30px;
    width: 800px;
    
    
}

.wrap_activités_2 {

    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: 100px 200px 200px;
    margin-top: 30px;
    width: 800px;
    
}

.wrap_tout {
    display: flex;
    flex-direction: row;
}

.wrap_activités img {
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.wrap_activités_2 img {
    object-fit: cover;
    
    border-radius: 20px 20px 0px 0px;
    
}



.wrap_tout h2{
    font-size: 15px;
    padding-left: 20px;
    margin-bottom: 5px;
    
}

.a img {
    height: 380px;
    width: 300px;
    object-fit: cover;
}

.b img {
    height: 180px;
    width: 300px;
}

.c img {
    height: 130px;
    width: 300px;
    
}

.d img {
    height: 380px;
    width: 300px;
}

.e img {
    height: 150px;
    width: 300px;
}

.f img {
    height: 150px;
    width: 300px;
    
}

.a {
    width: 300px;
    grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:2;
  grid-row-end:4;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);
    height: 420px;
    border-radius: 20px 20px 20px 20px;
}

.b {
    width: 300px;
    grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start:2;
  grid-row-end:3;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);
  height: 220px;
    border-radius: 20px 20px 20px 20px;
    
}

.c {
    width: 300px;
    height: 170px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);
    grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start:3;
  grid-row-end:4;
  border-radius: 20px 20px 20px 20px;
}

.d {
    
    grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start:2;
  grid-row-end:4;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);
  height: 420px;
  border-radius: 20px 20px 20px 20px;
  width: 300px;
  margin-left: -200px;
}
     


.e {
   height: 190px;
    grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start:2;
  grid-row-end:3;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);
  width: 300px;
  border-radius: 20px 20px 20px 20px;
    
}

.f {
    height: 190px;
    grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start:3;
  grid-row-end:4;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);
  width: 300px;
  border-radius: 20px 20px 20px 20px;
  margin-top: 30px;
}


footer {
background-color: #F2F2F2;
display: flex;
flex-direction: row;
width: 100%;
margin-top: 50px;
padding-bottom: 10px;
border-radius: 30px;

}

footer ul {
list-style: none;
margin-left: -40px;

}

footer li {
margin-top: 10px;
}

footer h2 {
font-size: 15px;
}

.a_propos {
margin-left: 100px;
font-size: 15px;

}

.nos_hebergements {
margin-left: 300px;
font-size: 15px;
}

.assistance {
margin-left: 300px;
font-size: 15px;
}



